.footer__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}
@media screen and (max-width: 767px)  {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        display: block; 
    }
}
.footer__link:hover {
    opacity: 0.8;
    transition: 1s linear 0s;
}