.place__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #FFFFFF;
    font-style: normal;
    display: block;
}
.place__link:hover {
    opacity: 0.8;
    transition: 1s linear 0s;
}