.cover__background {
    
    display: inline-block;
    max-width: 100%;
    background-image: url("../../../../images/__background.jpg");
    background-size: 1184px 740px;
    background-repeat: no-repeat;
    padding-bottom: 62.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .cover__background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.3);
    z-index: 2;
  }
  .cover__background::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s linear 0s;
    z-index: 2;
  }
  .cover__background:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.8);
  }